* {
    margin: 0;
    padding: 0;
    font-family: "Arial", "sans-serif";
}

body {
    background: #f3efea;
    text-align: center;
    margin-top: 10px;
}

.App {
    padding-top: 10px;
    max-width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: 2% 5%
}

.product_block {
    display: flex;
    padding: 30px;
    border: cornflowerblue 2px solid;
    border-radius: 10px;
    margin: 10px;
}

.product_img {
    max-width: 15%;
    max-height: 15%;
    text-align: left;

}

.td_description {
    padding-left: 50px;
    text-align: left;
}

.td_description p {
    padding: 20px 0;
}

.td_description div {
    width: 50%;
    padding-top: 40px;
    font-size: 14px;
}

.product_buttons {
    width: 30%;
    text-align: right;
}

.product_buttons div {
    padding-top: 5px;
}

.navbar div {
    width: 100%;
    max-height: 40px;
    background-color: cornflowerblue;
    display: inline;
    padding-left: 10px;

}
